
body {
    margin: 0px;
    height: 100%;
}

.demo-card-wide.mdl-card {
    width: 512px;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.ripple,.ripple:before,.ripple:after {
    border-radius:2px;
    width:2px;
    height:2px;
    -webkit-animation:rip 6s infinite;
    -moz-animation:rip 6s infinite;
}
.ripple {
    position: absolute;
    z-index: -1;
    top: 40px;
    left: 15px}
.ripple:before,.ripple:after {
    content:'';
    position: absolute;
}
.ripple:before {-webkit-animation-delay:.2s;-moz-animation-delay:.2s;top:50px;left:25px;}
.ripple:after {-webkit-animation-delay:.5s;-moz-animation-delay:.10s;top:50px;left:0;}
@-webkit-keyframes rip
{
    0%  {
        box-shadow:0 0 0 0 transparent,
        0 0 0 0 transparent,
        0 0 0 0 transparent,
        0 0 0 0 transparent;
    }
    5%  {
        box-shadow:0 0 0 0 #f2b632,
        0 0 0 0 rgba(255,255,255,0.4),
        0 0 0 0 #f2b632,
        0 0 0 0 rgba(0,0,0,0.08);
    }
    100% {
        box-shadow:0 0 40px 200px #f2b632,
        0 0 10px 210px transparent,
        0 0 30px 220px  #f2b632,
        0 0 5px 230px transparent;
    }
}
@-moz-keyframes rip
{
    0%  {
        box-shadow:0 0 0 0 transparent,
        0 0 0 0 transparent,
        0 0 0 0 transparent,
        0 0 0 0 transparent;
    }
    5%  {
        box-shadow:0 0 0 0 #f2b632,
        0 0 0 0 rgba(255,255,255,0.4),
        0 0 0 0 #f2b632,
        0 0 0 0 rgba(0,0,0,0.08);
    }
    100% {
        box-shadow:0 0 40px 200px #f2b632,
        0 0 10px 210px transparent,
        0 0 30px 220px #f2b632,
        0 0 5px 230px transparent;
    }
}


.mdl-navigation{
    margin-top: 70px;
}

.mdl-navigation__link {
    color: white;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #b5b5b7;
    font-size: 18px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: #f2b632;
    color: white;
}

.mdl-layout__drawer {
    background-color: #252839;
    color: #b5b5b7;
    border-right: none;
    box-shadow: black;
}

.mdl-layout__title, .mdl-layout-title {
    overflow: hidden;
    background-color: #f2b632;
    color: white;
    text-decoration: none;
    position: fixed;
}

.mdl-layout-title {
    display: block;
    width: 100%;
}

#notes_list {
    list-style: none;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    padding-left: 0px;
}

ul#notes_list li{
    text-align: center;
    padding-bottom: 10%;
}

#unicorn_stable{
    margin-top: auto;
    margin-left: 4px;
    margin-bottom: 4px;
}

#unicorn_stable h1{
    font-family: 'Lobster', cursive;
    padding: 0;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 15px !important;
    margin-left: 40px !important;
}

.small_unicorn {
    float: left;
    display: block;
    width: 30px;
}

#account_choice {
    margin: 90%;
    background-color: cornflowerblue;
}

.demo-card-wide.mdl-card.mdl-shadow--4dp{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background-color: #252839;
}

.title_text{
    font-size: 24px;
    margin: 0;
    width: 100%;
}

.summary_text{
    font-size: 14px;
    margin:0;
    width: 100%
}

.back_button{
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 64px;
    bottom: 0;
    position: absolute;
}

.right_button{
    margin-left: auto;
    margin-top: auto;
    margin-right: 10px;
    float: right;
}

.welcome_button{
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-top: auto;
}

.div_center{
    color: white;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    margin: auto;
    width: 50%;
    text-align: center;
    margin-bottom: 25% !important;
}

.contact_text{
    margin-bottom: 0px;
}

.mdl-layout__content{
    height: 100%;
}

.page-content{
    height: 100%;
    margin-bottom: 0;
    margin-top: -24px;
}

.div_center h1 {
    font-family: 'Lobster', cursive;
    margin: 0;
}

.div_center h2 {
    font-size: 56px;
}

.logout {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.logout_button{
    color: #f2b632;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
    color: rgb(255,255,255);
    background-color: #f2b632;
}

.mdl-textfield{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.mdl-textfield__label{
    color: black;
}

.mdl-textfield--floating-label{
    border: black;
}

.first_textfield{
    margin-top: 20px;
}

.login_button {
    float: right;
    position: relative;
    margin-right: 10px;
}