<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  <link rel="stylesheet" href="/css/stylesheet.css">
  <meta charset="UTF-8">
  <title>ToDo</title>
</head>
<body id="layout_body">


<style>
  body {
    background-color: #464646;
  }
</style>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <div class="mdl-layout__drawer mdl-shadow--8dp">
    <a class="mdl-layout-title" href="/user"><span class="ripple"></span><span class="ripple-position"><%=@user.username%></span></a>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/">Notis</a>
      <a class="mdl-navigation__link" href="">Invites</a>
      <a class="mdl-navigation__link" href="/contacts">Contact</a>
    </nav>
    <div id="unicorn_stable">
      <img class="small_unicorn" src="/img/small_unicorn.png">
      <h1>UnicornPixels</h1>
    </div>
  </div>



  <main class="mdl-layout__content">
      <%= yield %>
  </main>
</div>


</body>
</html>