<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div id="window">
    <div id="account_choice">
      <p>You have to have an account to use the app</p>
    </div>
  </div>
</body>
</html>