<div class="mdl-shadow--4dp note_window">
  <a href="/">
    <div class="back_button2">
      <button class="mdl-button mdl-js-button mdl-button--raised" type="button">
        <i class="material-icons">arrow_back</i>
      </button>
    </div>
  </a>
  <div class="inside_note_information">
    <h1 class="inside_note_title"><%=@note.titel%></h1>
    <div class="inside_note_time"><%=@note.time_stamp%></div>
  </div>
  <div class="inside_note_textfield_container"><h1 class="inside_note_textfield"><%=@note.info%></h1></div>





  <div class="share_with_someone">
    <form>
      <div class="add_user">
        <div class="mdl-textfield mdl-js-textfield create_titel">
          <input class="mdl-textfield__input" type="text" id="sample1">
          <label class="mdl-textfield__label" for="sample1">Users</label>
        </div>

        <button class="mdl-button mdl-js-button mdl-button--fab choose_button">
          <i class="material-icons">add</i>
        </button>

      </div>
    </form>
  </div>
</div>