<div class="create_window">
  <form action="/create_note">
    <div class="color_band">

      <a href="/invites">
        <div class="back_button2">
          <button class="mdl-button mdl-js-button mdl-button--raised" type="button">
            <i class="material-icons">arrow_back</i>
          </button>
        </div>
      </a>

      <a href="/">
        <div class="create_button">
          <button class="mdl-button mdl-js-button mdl-button--raised" type="button">
            <i class="material-icons">check</i>
          </button>
        </div>
      </a>

      <a href="/">
        <div class="delete_button">
          <button class="mdl-button mdl-js-button mdl-button--raised" type="button">
            <i class="material-icons">delete</i>
          </button>
        </div>
      </a>
    </div>

    <div class="add_user">
      <div class="mdl-textfield mdl-js-textfield create_titel">
        <input class="mdl-textfield__input" type="text" id="sample1">
        <label class="mdl-textfield__label" for="sample1">Users</label>
      </div>

      <button class="mdl-button mdl-js-button mdl-button--fab choose_button">
        <i class="material-icons">add</i>
      </button>



    </div>

  </form>
</div>