<form class="logout" action="/logout" method="post">
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Logout
  </button>
</form>

<div class="div_center">
    <h2><%=@user.username%></h2>
</div>